<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rescribe">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".singleton.RescribeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.SingleVisitDetailsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.PrescriptionActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.HomePageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.PhoneNoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/phone_no_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.LoginSignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/log_in"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity

            android:name=".ui.activities.book_appointment.BookAppointDoctorListBaseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/doctor_connect"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.PreferencesActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_preferences"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.AppointmentActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/appointments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.doctor.DoctorListActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/doctor_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.book_appointment.BookAppointmentServices"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/doctor_activity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.activities.DoctorConnectActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/doctor_connect"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".services.InvestigationNotificationService" />
        <service android:name=".services.AppointmentNotificationService" />
        <service android:name=".services.NotificationService" />

        <!-- Common Broadcast Receiver -->
        <receiver android:name=".broadcast_receivers.ClickOnCheckBoxOfNotificationReceiver" />
        <receiver android:name=".broadcast_receivers.ClickOnNotificationReceiver" />
        <!-- End -->

        <receiver android:name=".broadcast_receivers.StartUpBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.InvestigationNotificationService" />
        <service android:name=".services.AppointmentNotificationService" />
        <service android:name=".services.NotificationService" />

        <!-- Common Broadcast Receiver -->
        <receiver android:name=".broadcast_receivers.ClickOnCheckBoxOfNotificationReceiver" />
        <receiver android:name=".broadcast_receivers.ClickOnNotificationReceiver" />
        <!-- End -->

        <receiver android:name=".broadcast_receivers.StartUpBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".services.MQTTService" />

        <receiver
            android:name=".broadcast_receivers.ReplayBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".broadcast_receivers.FileDownloadReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.activities.NotificationActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.InvestigationActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_investigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.SelectedDocsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_selected_docs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.UploadedDocsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_uploaded_docs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ZoomImageViewActivity"
            android:label="@string/title_activity_zoomview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.AppGlobalContainerActivity"
            android:label="@string/doctor_details" />
        <activity
            android:name=".ui.activities.MapsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.MyRecordsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/my_records"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.AddRecordsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/add_record"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.WebViewActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/select_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.SelectedRecordsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_selected_docs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.SelectedRecordsGroupActivity"
            android:label="@string/title_activity_report_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ShowRecordsActivity"
            android:label="@string/title_activity_reports"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".broadcast_receivers.FileUploadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="net.gotev.uploadservice.broadcast.status" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast_receivers.OtpReader">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.activities.vital_graph.VitalGraphActivity"
            android:label="@string/vital_graph"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.vital_graph.VitalGraphDetailsActivity"
            android:label="@string/title_activity_vital_graph_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.vital_graph.AddTrackerActivity"
            android:label="@string/title_activity_add_tracker"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>